
  
  /* Create an active/current tablink class */
  .tab .Awessome-item .active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }



  .statue-img {
    width: 500px;
    border-radius: 20px;
    vertical-align: middle;
}

.equity-awess{
    padding-top: 8%;
}


@media (max-width: 1000px) {
    .hidden-mobile {
      display: none;
    }
}

@media (max-width: 1000px) {
    .tabcontent {
      margin: 0 auto;
    }
}


.banner-t{
  top: 50%;
transform: translateY(-50%);
}

/* #return-to-top:hover {
  background: rgb(73, 122, 255);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(73, 122, 255, .8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} */


.Awessome-items.active:after {
  content:'';
  position: absolute;
  top: 105%;
  left: 73%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: solid 20px #00356B;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

.about-temp{
  /* padding-top: 4rem; */
  margin-top: 22vh;
}

.about-t{
  font-size: 20px;
  font-weight: 700;
  color: #00365b;
}

.about-p{
  font-size: 15px;
  font-weight: 600;
}

.about-t{
font-size: 20px;
/* padding-left: 2rem; */
}

.about-p{
  font-size: 13px;
  /* padding-left: 2rem; */
}

.main-liner {
  border-left: 2px solid #000;
  height: 75px;
}

@media (max-width: 900px) {
  .main-liners {
    border-bottom: 2px solid #000;
    height: 75px;
  }

  .main-liner {
    display: none;
  }
  .about-temp{
    margin: 2vh 0 auto;
  }
}